body {
    line-height: 24px;
    font-size: 16px;
    background-image: url("/images/bg.jpg");
}

.main {
    background-color: white;
    border-radius: 10px;
}

.btn-community {
    float: right;
    margin-bottom: 15px;
}

.btn-comment {
    margin: 10px 0;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.media-object {
    width: 46px;
    height: 46px;
}

.profile .list {
    margin-top: 22px;
}

.community-menu {
    color: #999;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

.community-sp {
    margin-top: 0;
}

.jumbotron {
    margin: 60px;
}

.media-body-community {
    padding: 14px;
}

.media-object-community {
    width: 38px;
    height: 38px;
}

.textarea-comment {
    margin: 15px 0;
}

.sub-comments {
    border: 1px solid #eee;
    margin-left: 45px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.sub-comment {
    margin-top: 20px;
}

.sub-comments .single {
    border-bottom: 1px solid #eee;
    margin: 10px 0;
}

.media-reply {
    padding: 0;
    border-bottom: 1px solid #eee;
    margin-top: 15px;
}

.comment-content {
    margin-top: 10px;
    color: #666;
}

.menu {
    margin-top: 10px;
}

.menu .icon {
    margin-right: 20px;
    color: #999;
    cursor: pointer;
}

.menu .icon:hover {
    color: #155faa;
}

.menu .active {
    color: #155faa;
}

.menu .datetime {
    color: #999;
    font-size: 14px;
    margin-bottom: 15px;
}

.comment-reply {
    margin-top: 45px;
}

.comment-count {
    font-family: candara, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif, -apple-system;
    font-size: 20px;
}

.question-tag {
    margin-right: 5px;
}

.question-related {
    margin: 0;
    padding: 0;
    list-style: none;
}

.related-href {
    cursor: pointer;
    color: #155faa;
    text-decoration: none;
    line-height: 24px;
    font-size: 14px;
    font-family: candara,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif, -apple-system;
}

.question-href {
    cursor: pointer;
    color: #155faa;
    text-decoration: none;
    font-family: candara,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif, -apple-system;
}

.community-font {
    font-family: candara,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif, -apple-system;
}

.community-avatar-a {
    padding: 10px;
}

.community-avatar-img {
    width: 32px;
    height: 32px;
    margin: 0 0;
}

.index-hr {
    margin: 10px 0;
}

.nav-dropdown-a {
    text-align: center;
}

.publish-tag .label {
    white-space: normal;
    display: inline-block;
    margin: 10px 5px;
}

.profile-edit {
    color: #999;
    font-size: 14px;
    margin-bottom: 10px;
}