<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{header.html :: head}"></div>
    <title>发现 - Kyrie Community</title>
</head>
<script type="application/javascript">
    window.onload = function() {
        var item = window.localStorage.getItem("closable");
        if (item == "true") {
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>
<body>
<div th:insert="~{navigation.html :: nav}"></div>

<div class="container main">
    <!--左边-->
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
        <h3>
            <span class="fa fa-th-list" aria-hidden="true"></span>
            <span class="community-font">发现</span>
        </h3>
        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 index-hr">
        <!--问题列表-->
        <div th:each="question:${pagination.data}">
            <div class="media col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" th:src="${question.tbUser.avatarUrl}" >
                    </a>
                </div>
                <div class="media-body" >
                    <a class="question-href" th:href="@{'/question/' + ${question.id}}">
                        <h4 class="media-heading" th:text="${question.title}" ></h4>
                    </a>
                    <span class="text-desc">
                    <span th:text="${question.tbUser.name}"></span>发起了问题 •
                    <span th:text="${question.likeCount}"></span> 人关注 •
                    <span th:text="${question.commentCount}"></span> 个回复 •
                    <span th:text="${question.viewCount}"></span> 次浏览 •
                    <span th:text="${#dates.format(question.gmtCreated, 'yyyy-MM-dd HH:mm')}"></span>
                </span>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 index-hr">
        </div>


        <!--分页按钮-->
        <nav aria-label="Page navigation" style="float: right">
            <ul class="pagination">
                <li th:if="${pagination.showFirstPage} == true">
                    <a href="/?page=1" aria-label="FisrtPage">
                        <span aria-hidden="true">&lt;&lt;</span>
                    </a>
                </li>
                <li th:if="${pagination.showPrevious} == true">
                    <a th:href="@{/(page=${pagination.previousPage})}" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>
                <li th:each="page:${pagination.pages}" th:class="${page == pagination.currentPage} ? 'active' : ''"><a th:href="@{/(page=${page})}" th:text="${page}"></a></li>
                <li th:if="${pagination.showNext} == true">
                    <a th:href="@{/(page=${pagination.nextPage})}" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
                <li th:if="${pagination.showEndPage} == true">
                    <a th:href="@{/(page=${pagination.totalPage})}" aria-label="EndPage">
                        <span aria-hidden="true">&gt;&gt;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!--右边-->
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <h3 class="community-font">热门话题</h3> <br>

    </div>
</div>


</body>
</html>